# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
bin

# Ignore Visual Studio Code settings for now because they're user-based
.vscode/tasks.json
.vscode/launch.json
